.box1{
    background-color: aqua;
    height: 600px;
    width: 600px;
    display: flex;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    
}

    .box2{
        background-color: blue;
        height: 500px;
        width: 500px;
        border: 2px solid black;
        justify-content: center;
        align-items: center;
    display: flex;    

    }
    .box3{
        background-color: yellow;
        height: 400px;
        width: 400px;
        border: 2px solid black;
        justify-content: center;
        align-items: center;
        position: relative;
        display: flex;

    }
    .box4{
        background-color: red;
        height: 300px;
        width: 300px;
        border: 2px solid black;
        justify-content: center;
        align-items: center;
        display: flex;
        
    }
    .box5{
        background-color: magenta;
        height: 200px;
        width: 200px;
        border: 2px solid black;
        justify-content: center;
        align-items: center;
    }
h4{
    position: absolute;
    left: 0;
    top: 0;
}

    